target
.vscode
draft
dimple.db
config.yaml
archive
dimple_ui_slint/.dimple_test
dimple_core/content-v2
dimple_core/index-v5
dimple_ui_slint/.dimple_db_test_1
dimple_ui_slint/CLAUDE.md
dimple_ui_slint/.claude/settings.local.json
.claude
dimple_ui_slint/.dimple-root
